body {
  background-color: beige;
}

.images {
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

/* ul>li {
  display: inline-block;
} */
nav>ul {
  list-style: square;
}

a {
  text-decoration: none;
}

header, h2 {
  text-align: center;
}

div {
  margin-top: 30px;
  line-height: 18px;
}